{
  "extends": ["react-app", "plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/self-closing-comp": "error",
    "import/no-anonymous-default-export": [2, { "allowObject": true }],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/jsx-sort-props": ["error", { "callbacksLast": true }]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src"]],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
