{
  "extends": ["react-app", "plugin:prettier/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react-hooks/exhaustive-deps": 0,
    "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src"]],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
